.home-about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #eeeeee;

  &__img {
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__info {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    padding: 0 3rem;
  }

  &__socials-wrapper {
    margin-bottom: 3rem;
  }

  &__socials-icon {
    color: #000;
    font-size: 1.5rem;

    &--instagram,
    &--github,
    &--facebook {
      margin-right: 1rem;
    }
  }

  &__btn {
    background: transparent;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;

    &--hello {
      margin-right: 0.5rem;
    }
  }
}