@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: $widescreen-breakpoint) {
    @content;
  }
}

@mixin section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

@mixin socials-icon {
  color: #fff;
  font-size: 1.5rem;
}