.photo {
  background-color: $photo-color;
  padding: 0 0 2rem;

  &__header-wrapper {
    @include section-header;
    color: #000;
  }

  &__socials-icon {
    @include socials-icon;
    color: #000;
  }

  &__thumbnails-wrapper {
    padding: 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__thumbnails {
    height: 10rem;
    margin-bottom: 3rem;
    border-radius: 5px;
  }
}