// break points 
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$widescreen-breakpoint: 1440px;

// colors 
$web-color: #f38181;
$photo-color: #fff;
$mobile-color: #00adb5;
$footer-color: #fff;