// break points 
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$widescreen-breakpoint: 1440px;

// colors 
$web-color: #222831;
$photo-color: #393e46;
$mobile-color: #00adb5;
$footer-color: #eeeeee;